html, body{

}

.home-search{
	width: 75%;
	margin: auto;
	display: block;
	margin-top: 20%;
}

.home-search img{
	width: 500px;
	height: 200px;
	margin: auto;
	display: block;
}

.home-search form{
	width: 500px;
	margin: auto;
	margin-top: 25px;
}

.input-text{
	width: 95%
}

.submit{
	width: 50%;
	margin: auto;
	display: block;
	margin-top: 10px;
}